
.icon{
    text-align: center;
    padding-top: 10px;
    font-weight: 600;
}

.icon > ion-icon{
    height: 13px;
    width: 15px;
    margin: 0;
    padding-top: 13px;
    margin-left: -20px;
   
    
}

ion-item > ion-icon {
   margin-right: 15px;
}

ion-item{
    padding-top: 2px;
    
}

ion-button{
    margin-left: 5px;
    margin-top: 10px;
}

ion-button > ion-icon {
    margin-right: 5px;
}

