
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Nossas Lojas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="senac">
    <ion-card-title>Barra da Tijuca</ion-card-title>
    <img alt="Silhouette of mountains" src="../../assets/logos/senac.png" />
    <ion-card-header>
      <ion-card-subtitle>Av. das Américas, 3959 - Barra da Tijuca, Rio de Janeiro - RJ, 22631-003</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      A loja fictícia de hardwares, periféricos e celulares VTR na Barra da Tijuca é uma empresa que vende produtos de informática e comunicação, 
      como computadores, notebooks, mouses, teclados, fones de ouvido, webcams, caixas de som, smartphones, tablets, entre outros. 
    </ion-card-content>
    <ion-card-subtitle class="s1" color="primary">Venha conhecer</ion-card-subtitle>
  </ion-card>

  <ion-card class="senac">
    <ion-card-title>Taquara</ion-card-title>
    <img alt="Silhouette of mountains" src="../../assets/logos/tqr.png" />
    <ion-card-header>
      <ion-card-subtitle>Estr. dos Bandeirantes, 304 - Taquara, Rio de Janeiro - RJ, 22710-112</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      A loja fictícia de hardwares, periféricos e celulares VTR na Taquara é uma empresa que vende produtos de informática e comunicação, 
      como computadores, notebooks, mouses, teclados, fones de ouvido, webcams, caixas de som, smartphones, tablets, entre outros. 
    </ion-card-content>
    <ion-card-subtitle class="s1" color="primary">Venha conhecer</ion-card-subtitle>
  </ion-card>

  <ion-card class="senac">
    <ion-card-title>Madureira</ion-card-title>
    <img alt="Silhouette of mountains" src="../../assets/logos/madu.png" />
    <ion-card-header>
      <ion-card-subtitle>Estr. do Portela - Madureira, Rio de Janeiro - RJ, 21351-050</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      A loja fictícia de hardwares, periféricos e celulares VTR em Madureira é uma empresa que vende produtos de informática e comunicação, 
      como computadores, notebooks, mouses, teclados, fones de ouvido, webcams, caixas de som, smartphones, tablets, entre outros. 
    </ion-card-content>
    <ion-card-subtitle class="s1" color="primary">Venha conhecer</ion-card-subtitle>
  </ion-card>



</ion-content>

