
  <ion-header>
    <ion-item lines="none">
      <ion-icon ></ion-icon>
      <ion-icon name="cart-sharp" slot="end"></ion-icon>
    </ion-item>
    <ion-toolbar>
      <ion-searchbar></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  <ion-item [button]="true" lines="full">
    <ion-icon name="location-outline" class="envio"></ion-icon>
    <ion-label>Enviar para:  </ion-label>
    <ion-note slot="end"></ion-note>
  </ion-item>
  <ion-content>
  <ion-item lines="full">
    <ion-icon name="snow-outline" class="envio"></ion-icon>
    <ion-label>Promoções de Natal</ion-label>
    <ion-icon name="information-circle" slot="end"></ion-icon>
  </ion-item>



</ion-content>